/* This CSS styles the launch page */
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(42, 27, 161, 0.7)),
    to(rgba(29, 210, 177, 0.7))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: linear-gradient(
    to 45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
}
/* /Launch page styles */

#search-div {
  width: 50%;
  margin: auto;
}

#search-input {
  color: white !important;
}

 adding-map-page
/* Map Styles */
.map-container-7 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-7 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;

/*Modal Style*/
.modal-content {
  background-color: rgba(0, 0, 0, 0);
}
#modal-band-shows {
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
  color: red;
}

hr {
  border: 0;
  height: 1px;
  background: rgb(102, 42, 42);
  background-image: linear-gradient(
    to right,
    rgb(60, 60, 60),
    rgb(218, 173, 173),
    rgb(60, 60, 60)
  );
}
#modal-band-title {
  color: red;
  font-weight: bold;

}
